.loader {
  margin: 0 auto;
  line-height: 200px;

  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.formData {
  height: 50vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formData form div label {
  margin-bottom: 5px;
}

.formData form button {
  margin: 10px;
  margin-left: 35%;
}

.aboutPOC {
  width: 100%;
  padding: 10%;
  line-height: 25px;
}
